<nav class="navbar">
    <a class="navbar-brand" href="../../"><img class="img-fluid" id="logo" src="../../img/DSO-LOGO-corp.jpg" alt="Doctors Scientific Organica"></a>
    <button class="navbar-toggler toggler-example" type="button" data-toggle="collapse" data-target="#navbarSupportedContent1" aria-controls="navbarSupportedContent1" aria-expanded="false" aria-label="Toggle navigation"><i class="fa fa-bars fa-1x"></i></button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent1">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" href="../../dashboard">Dashboard</a>
            </li>
            <li class="nav-item">
                    <a class="nav-link" href="../../dep-mix">Schedule - Mixing</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="../../dep-prod-main">Schedule - Main Production</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="../../recipes">Recipes</a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="../../">Logout <span class="sr-only">(current)</span></a>
        </li>
        </ul>
    </div>
</nav>