<nav class="navbar navbar-expand-md navbar-dark fixed-top">
        <img class="img-fluid" id="logo" src="img/DSO-Logo.png" alt="Doctors Scientific Organica">
        <% if (pageID == 'recipe') { %>
        <h3>Start Time:</h3>
        <% } %>
</nav>