/*! ----------
Main Style sheet for Doctors Scientific Organica Mix App  
Author: Orlando Morales
Last Date Modified: 08/01/2018
Version: 0.0.0
---------- */
/*! ----------
Sections
 - Global Styles
---------- */
@import '../../vendor/bootstrap-4.1.0/css/bootstrap.css';
@import 'var.less';

/*----- Start Global Styles -----*/
    body {
        font-family: 'Raleway', sans-serif;
    }
    h1 {
        color: @main-01;
    }
    h1,h2,h3,h4,h5,h6 {
        text-align: center;
    }
    thead {
        text-transform: uppercase;
        font-size: 125%;
        background-color: @main-02;
    }
    .btn-primary {
        background-color: @main-02;
        border-color: @main-02;
    }
    .btn-primary:hover {
        background-color: @main-01;
        border-color: @main-01;
        transition: 1s ease;
        color: #e6e6e6;
    }
    .clearfix {
        clear: both;
        margin-bottom: 5px;
    }
    .clickable-row:hover {
        cursor: pointer;
    }
    .navSpacer {
        padding-top: 100px;
    }
    .navbar {
        color: #fff;
        background-color: orange;
    }
    .navbar #logo {
        max-width: 140px;
        max-height: 80px;
    }
    .navbar h3 {
        position: fixed;
        right: 10px;
        text-align: right;
    }
    .title {
        display: block;
        text-align: center;
    }
/*----- End Global Styles -----*/

/*----- Start Login Styles -----*/
    #login #logo {
        width: 140px;
        height: 80px;
    }
    @media screen and (min-width:340px) {
        #login #logo {
            width: 280px;
            height: 160px;
        }
    }
/*----- End Login Styles -----*/

/*----- Start Recipe Styles -----*/
    
/*----- End Recipe Styles -----*/

/*----- Start Schedule Styles -----*/

/*----- End Schedule Styles -----*/