<!DOCTYPE html>
<html lang="en">

<head>
    <% include partials/template/head.ejs %>
</head>

<body id="<%= pageID %>">
        <% include partials/template/header.ejs %>
    <div class="container">
        <div class="row">
            <div class="col-xs-12 title">
                <h1><%= pageTitle %></h1>
            </div><!-- /.col -->
        </div><!-- /.row -->
        <div class="row ctaButtons">
            <div class="col-xs-12">
                <button type="button" class="btn"><a href="/dep-mix">Mixing</a></button>
                <button type="button" class="btn"><a href="/dep-prod-main">Main Production</a></button>
                <button type="button" class="btn"><a href="/dep-pack">Packaging</a></button>
                <button type="button" class="btn"><a href="/dep-ship">Shipping</a></button>
            </div><!-- /.col -->
        </div><!-- /.row -->

    </div><!-- /.container -->
    <% include partials/template/scripts.ejs %>
</body>

</html>