<!DOCTYPE html>
<html lang="en">

<head>
    <% include partials/template/head-norefresh.ejs %>
</head>

<body id="<%= pageID %>">
        <% include partials/template/header.ejs %>
    <div class="container">
        <div class="row">
            <div class="col-xs-12 title">
                <h1><%= pageTitle %></h1>
            </div><!-- /.col -->
        </div><!-- /.row -->
        <div class="row">
            <div class="col-xs-12">
                <form id="createEvent">
                    <table class="table table-striped"  style="text-align:center;">
                        <thead>
                            <tr>
                                <th scope="col">Status</th>
                                <th scope="col">PO</th>
                                <th scope="col">Destination</th>
                                <th scope="col"># of Pallets</th>
                                <th scope="col">In Date</th>
                                <th scope="col">Ship Date</th>
                                <th scope="col">Due Date</th>
                                <th scope="col">Product</th>
                                <th scope="col">Notes</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td id="shipStatus"></td>
                                <td id="shipPo"></td>
                                <td id="shipDest"></td>
                                <td id="shipPallets"></td>
                                <td id="shipDateIn"></td>
                                <td id="shipDateShip"></td>
                                <td id="shipDateDue"></td>
                                <td id="shipProduct"></td>
                                <td id="shipNotes"></td>
                            </tr>
                        </tbody>
                    </table>
                    <input type="hidden" id="shipPoInput">
                    <input type="hidden" id="shipDestInput">
                    <input type="hidden" id="shipPalletsInput">
                    <input type="hidden" id="shipDateInInput">
                    <input type="hidden" id="shipDateShipInput">
                    <input type="hidden" id="shipDateDueInput">
                    <input type="hidden" id="shipProductInput">
                    <input type="hidden" id="shipNotesInput">
                    <button class="btn" id="createEventBtn" type="button">Submit</button>
                    <button class="btn" type="button"><a href="/dep-ship-schedule-add">Edit</a></button>
                </form>
            </div><!-- /.col -->
        </div><!-- /.row -->

    </div><!-- /.container -->
    <% include partials/template/scripts.ejs %>
    <script>
        const reviewShipData = function() {
            console.log('reviewShipData function starting.');

            if(sessionStorage.shipPo !== undefined) {
                document.getElementById("shipPo").innerText = sessionStorage.shipPo;
                document.getElementById("shipPoInput").value = sessionStorage.shipPo;
            }

            if(sessionStorage.shipDest !== undefined) {
                document.getElementById("shipDest").innerText = sessionStorage.shipDest;
                document.getElementById("shipDestInput").value = sessionStorage.shipDest;
            }
            
            if(sessionStorage.shipPallets !== undefined) {
                document.getElementById("shipPallets").innerText = sessionStorage.shipPallets;
                document.getElementById("shipPalletsInput").value = sessionStorage.shipPallets;
            }

            if(sessionStorage.shipDateIn !== undefined) {
                document.getElementById("shipDateIn").innerText = sessionStorage.shipDateIn;
                document.getElementById("shipDateInInput").value = sessionStorage.shipDateIn;
            }

            if(sessionStorage.shipDateShip !== undefined) {
                document.getElementById("shipDateShip").innerText = sessionStorage.shipDateShip;
                document.getElementById("shipDateShipInput").value = sessionStorage.shipDateShip;
            }

            if(sessionStorage.shipDateDue !== undefined) {
                document.getElementById("shipDateDue").innerText = sessionStorage.shipDateDue;
                document.getElementById("shipDateDueInput").value = sessionStorage.shipDateDue;
            }

            if(sessionStorage.shipProduct !== undefined) {
                document.getElementById("shipProduct").innerText = sessionStorage.shipProduct;
                document.getElementById("shipProductInput").value = sessionStorage.shipProduct;
            }

            if(sessionStorage.shipNotes !== undefined) {
                document.getElementById("shipNotes").innerText = sessionStorage.shipNotes;
                document.getElementById("shipNotesInput").value = sessionStorage.shipNotes;
            }
        };
        $(document).ready(function() {
            reviewShipData();
        });
        $("#createEventBtn").click(function(e, data) {
            $.ajax({
                method: "POST",
                url: "/dep-ship",
                data: { 
                    shipPoInput: $('#shipPoInput').val(),
                    shipDestInput: $('#shipDestInput').val(),
                    shipPalletsInput: $('#shipPalletsInput').val(),
                    shipDateInInput: $('#shipDateInInput').val(),
                    shipDateShipInput: $('#shipDateShipInput').val(),
                    shipDateDueInput: $('#shipDateDueInput').val(),
                    shipProductInput: $('#shipProductInput').val(),
                    shipNotesInput: $('#shipNotesInput').val()       
                }
            })
            .done(function( msg ) {
                console.log('New shipment added.');
                console.log(data);
                sessionStorage.clear();
                window.location.href = '/dep-ship';
            })
            .fail( function(xhr, textStatus, errorThrown) {
                alert(xhr.responseText);
            });
        });
    </script>
</body>

</html>