<!DOCTYPE html>
<html lang="en">

<head>
    <% include partials/template/head-norefresh.ejs %>

    <style>
        #mixRecipeOtherWrapper, #mixMixerOtherWrapper {
            display: none;
        }
    </style>
</head>

<body id="<%= pageID %>">
        <% include partials/template/header.ejs %>
    <div class="container">
        <div class="row">
            <div class="col-xs-12 title">
                <h1><%= pageTitle %></h1>
            </div><!-- /.col -->
        </div><!-- /.row -->
        <form method="POST" action="/dep-mix-schedule-review">
            <div class="form-group">
                <label for="mixRecipeSelect">Select Recipe</label>
                <select class="form-control" id="mixRecipeSelect" name="mixRecipeSelect" oninput="sessionStorage.mixRecipe=this.value;">
                    <option value="">(select one)</option>
                    <option>Other</option>
                    <% recipes.forEach(function(recipe) { %>
                    <option><%= recipe.nameWhole %></option>
                    <% }) %>
                </select>
            </div>
            <div class="form-group" id="mixRecipeOtherWrapper">
                <label for="mixRecipeOther">Recipe Name</label>
                <input class="form-control" type="text" id="mixRecipeOther" name="mixRecipeOther" oninput="sessionStorage.mixRecipe=this.value;">
            </div>
            <div class="form-group">
                <label for="amount">Amount</label>
                <input class="form-control" type="text" id="mixAmount" name="mixAmount" oninput="sessionStorage.mixAmount=this.value;">
            </div>
            <div class="form-group">
                <label for="exampleFormControlSelect1">Assign Mixer</label>
                <select class="form-control" id="mixMixerSelect" name="mixMixerSelect" oninput="sessionStorage.mixMixer=this.value;">
                    <option value="">(select one)</option>
                    <option>Andre</option>
                    <option>Demetrius</option>
                    <option>Eric</option>
                    <option>Gregory</option>
                    <option>Manuel</option>
                    <option>Phillip</option>
                    <option>Rolayne</option>
                    <option>Other</option>
                </select>
            </div>
            <div class="form-group" id="mixMixerOtherWrapper">
                <label for="mixMixerOther">Mixer Name</label>
                <input class="form-control" type="text" id="mixMixerOther" name="mixMixerOther" oninput="sessionStorage.mixMixer=this.value;">
            </div>
            <div class="form-group">
                <label for="mixDateSelect">Select Date</label>
                <input class="form-control" type="date" id="mixDateSelect" name="mixDateSelect" oninput="sessionStorage.mixDate=this.value;">
            </div>
            <div class="form-group">
                <label for="mixTimeStartSelect">Select Start Time</label>
                <input class="form-control" type="time" id="mixTimeStartSelect" name="mixTimeStartSelect" oninput="sessionStorage.mixTimeStart=this.value;">
            </div>
            <div class="form-group">
                <label for="mixTimeEndSelect">Select End Time</label>
                <input class="form-control" type="time" id="mixTimeEndSelect" name="mixTimeEndSelect" oninput="sessionStorage.mixTimeEnd=this.value;">
            </div>
            <div class="form-group">
                <label for="mixRecipeNotes">Notes</label>
                <textarea class="form-control" id="mixRecipeNotes" name="mixRecipeNotes" rows="3" oninput="sessionStorage.mixNotes=this.value;"></textarea>
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div><!-- /.container -->
    <% include partials/template/scripts.ejs %>

    <script>
        $('#mixMixerSelect').change(function(){
            console.log('Mixer changed.');
            if ($('#mixMixerSelect').val() == 'Other'){
                console.log('Other mixer selected.');
                $('#mixMixerOtherWrapper').fadeIn();
            } else {
                console.log('Mixer selected from dropdown.');
                $('#mixMixerOtherWrapper').hide();
            }
        });

        $('#mixRecipeSelect').change(function(){
            console.log('Recipe changed.');
            if ($('#mixRecipeSelect').val() == 'Other'){
                console.log('Other recipe selected.');
                $('#mixRecipeOtherWrapper').fadeIn();
            } else {
                console.log('Mixer selected from dropdown.');
                $('#mixRecipeOtherWrapper').hide();
            }
        });

    </script>
</body>

</html>