<!DOCTYPE html>
<html lang="en">

<head>
    <% include partials/template/head-login.ejs %>
</head>

<body id="<%= pageID %>">
    <form class="form-signin text-center" action="/dashboard" method="POST">
        <img class="mb-4" id="logo" src="https://res.cloudinary.com/smart-for-life/image/upload/v1537983053/brand/dso-logo-corp.jpg" alt="Doctors Scientific Organica">
        <h1 class="h3 mb-3 font-weight-normal">Please sign in</h1>
        <label for="inputUsername" class="sr-only">Username</label>
        <input type="text" id="inputUsername" name="inputUsername" class="form-control" placeholder="Username" required autofocus>
        <label for="inputPassword" class="sr-only">Password</label>
        <input type="password" id="inputPassword" name="inputPassword" class="form-control" placeholder="Password" required>
        <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
        <p class="mt-5 mb-3 text-muted">&copy; 2018 Doctors Scientific Organica</p>
    </form>
</body>

</html>