<!DOCTYPE html>
<html lang="en">

<head>
    <% include partials/template/head.ejs %>
</head>

<body class="navSpacer" id="<%= pageID %>">
        <% include partials/template/header.ejs %>
    <div class="container">
        <div class="row">
            <div class="col-sm-6">
                <h2>Product</h2>
                <img class="img-fluid" src="http://via.placeholder.com/600x600" alt="">
            </div><!-- /.col -->
            <div class="col-sm-6">
                <h2>Recipe</h2>
                <table class="table table-striped">
                    <thead>
                    <tr>
                        <th scope="col">Ingredient</th>
                        <th scope="col">Quantity</th>
                        <th scope="col">Unit</th>
                        </tr>
                    </thead>
                    <tbody>
                        <% ingredients.forEach(function(ingredient) { 
                            if(ing1Name) {
                        %>
                        <tr>
                            <th scope="row"><%= ing1Name %></th>
                            <td><%= ing1Quant %></td>
                            <td><%= ing1Unit %></td>
                        </tr>
                    </tbody>
                </table>
            </div><!-- /.col -->
        </div><!-- /.row -->
    </div><!-- /.container -->
</body>

</html>