<!DOCTYPE html>
<html lang="en">

<head>
    <% include partials/template/head.ejs %>
</head>

<body id="<%= pageID %>">
        <% include partials/template/header.ejs %>
    <div class="container">
        <div class="row">
            <div class="col-xs-12 title">
                <h1><%= pageTitle %></h1>
            </div><!-- /.col -->
        </div><!-- /.row -->
        <div class="row">
            <div class="col-xs-12">
                <form id="createEvent">
                    <table class="table table-striped"  style="text-align:center;">
                        <thead>
                            <tr>
                                <th scope="col">Date</th>
                                <th scope="col">Start Time</th>
                                <th scope="col">End Time</th>
                                <th scope="col">Assigned To</th>
                                <th scope="col">Product</th>
                                <th scope="col">Amount</th>
                                <th scope="col">Notes</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td id="mixDate"></td>
                                <td id="mixTimeStart"></td>
                                <td id="mixTimeEnd"></td>
                                <td id="mixMixer"></td>
                                <td id="mixRecipe"></td>
                                <td id="mixAmount"></td>
                                <td id="mixNotes"></td>
                            </tr>
                        </tbody>
                    </table>
                    <input type="hidden" id="mixRecipeInput">
                    <input type="hidden" id="mixRecipeAmount">
                    <input type="hidden" id="mixMixerInput">
                    <input type="hidden" id="mixDateInput">
                    <input type="hidden" id="mixTimeStartInput">
                    <input type="hidden" id="mixTimeEndInput">
                    <input type="hidden" id="mixNotesInput">
                    <button class="btn" id="createEventBtn" type="button">Submit</button>
                    <button class="btn" type="button"><a href="/schedule-add">Edit</a></button>
                </form>
            </div><!-- /.col -->
        </div><!-- /.row -->

    </div><!-- /.container -->
    <% include partials/template/scripts.ejs %>
    <script>
        const reviewMixData = function() {
            console.log('reviewMixData function starting.');

            if(sessionStorage.mixRecipe !== undefined) {
                document.getElementById("mixRecipe").innerText = sessionStorage.mixRecipe;
                document.getElementById("mixRecipeInput").value = sessionStorage.mixRecipe;
            }

            if(sessionStorage.mixRecipe !== undefined) {
                document.getElementById("mixAmount").innerText = sessionStorage.mixAmount;
                document.getElementById("mixRecipeAmount").value = sessionStorage.mixAmount;
            }
            
            if(sessionStorage.mixMixer !== undefined) {
                document.getElementById("mixMixer").innerText = sessionStorage.mixMixer;
                document.getElementById("mixMixerInput").value = sessionStorage.mixMixer;
            }

            if(sessionStorage.mixDate !== undefined) {
                document.getElementById("mixDate").innerText = sessionStorage.mixDate;
                document.getElementById("mixDateInput").value = sessionStorage.mixDate;
            }

            if(sessionStorage.mixTimeStart !== undefined) {
                document.getElementById("mixTimeStart").innerText = sessionStorage.mixTimeStart;
                document.getElementById("mixTimeStartInput").value = sessionStorage.mixTimeStart;
            }

            if(sessionStorage.mixTimeEnd !== undefined) {
                document.getElementById("mixTimeEnd").innerText = sessionStorage.mixTimeEnd;
                document.getElementById("mixTimeEndInput").value = sessionStorage.mixTimeEnd;
            }

            if(sessionStorage.mixNotes !== undefined) {
                document.getElementById("mixNotes").innerText = sessionStorage.mixNotes;
                document.getElementById("mixNotesInput").value = sessionStorage.mixNotes;
            }
        };
        $(document).ready(function() {
            reviewMixData();
        });
        $("#createEventBtn").click(function(e, data) {
            $.ajax({
                method: "POST",
                url: "/schedule",
                data: { 
                    mixRecipeInput: $('#mixRecipeInput').val(),
                    mixMixerInput: $('#mixMixerInput').val(),
                    mixDateInput: $('#mixDateInput').val(),
                    mixTimeStartInput: $('#mixTimeStartInput').val(),
                    mixTimeEndInput: $('#mixTimeEndInput').val(),
                    mixNotesInput:  $('#mixNotesInput').val()           
                }
            })
            .done(function( msg ) {
                console.log('New event added.');
                console.log(data);
                window.location.href = '/schedule';
            })
            .fail( function(xhr, textStatus, errorThrown) {
                alert(xhr.responseText);
            });
        });
    </script>
</body>

</html>