<!DOCTYPE html>
<html lang="en">

<head>
    <% include partials/template/head.ejs %>
</head>

<body id="<%= pageID %>">
        <% include partials/template/header.ejs %>
    <div class="container">
        <div class="row">
            <div class="col-xs-12 title">
                <h1><%= pageTitle %></h1>
            </div><!-- /.col -->
        </div><!-- /.row -->
        <form>
            <div class="form-group">
                <label for="mixRecipeCategorySelect">Select Category</label>
                <select class="form-control" id="mixRecipeCategorySelect" name="mixRecipeCategorySelect" onchange="showTypes(this.value);">
                    <option value="">(select one)</option>
                    <option>1 UP</option>
                    <option>Brandless</option>
                    <option>Cookies</option>
                    <option>Creamers</option>
                    <option>Cupcakes</option>
                    <option>Meditteranean</option>
                    <option>Nutrativa</option>
                    <option>Oatmeal</option>
                    <option>Protein Bars</option>
                    <option>Shakes</option>
                    <option>Soups</option>
                    <option>Supplements</option>
                </select>
            </div>
            <div class="form-group catWrapper" id="cat1up">
                <label for="mixRecipeMameSelect">Select Type</label>
                <select class="form-control" id="mixRecipeNameSelect" name="mixRecipeNameSelect">
                    <option value="">(select one)</option>
                    <% recipes.forEach(function(recipe) { 
                        if(recipe.category == '1UP') { %>
                    <option><%= recipe.name %></option>
                    <% }}) %>
                </select>
            </div>
            <div class="form-group">
                    <label for="mixRecipeFlavorSelect">Select Flavor</label>
                    <select class="form-control" id="mixRecipeFlavorSelect" name="mixRecipeFlavorSelect">
                        <option value="">(select one)</option>
                        <% recipes.forEach(function(recipe) { %>
                        <option><%= recipe.flavor %></option>
                        <% }) %>
                    </select>
                </div>
            <div class="form-group">
                <label for="exampleFormControlSelect1">Assign Mixer</label>
                <select class="form-control" id="mixMixerSelect" name="mixMixerSelect">
                    <option value="">(select one)</option>
                    <option>Eric</option>
                    <option>Rolayne</option>
                    <option>Demetrius</option>
                    <option>Gregory</option>
                    <option>Phillip</option>
                    <option>Other</option>
                </select>
            </div>
            <div class="form-group">
                <label for="mixDateTime">Select Date/Time</label>
                <input class="form-control" type="datetime-local" id="mixDateTimeSelct" name="mixDateTimeSelect">
            </div>
            <div class="form-group">
                <label for="exampleFormControlTextarea1">Notes</label>
                <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div><!-- /.container -->
    <% include partials/template/scripts.ejs %>
    <script>
        function showTypes(category) {
            if(category == '1 UP') {
                console.log(category + ' selected.');
                $('.catWrapper').hide();
                $('#cat1up').fadeIn();
            } else if(category == 'Brandless') {
                console.log(category + ' selected.');
                $('.catWrapper').hide();
                $('#catBrandless').fadeIn();
            }
        };
    </script>
</body>

</html>