<!DOCTYPE html>
<html lang="en">

<head>
    <% include partials/template/head.ejs %>
</head>

<body id="<%= pageID %>">
        <% include partials/template/header.ejs %>
    <div class="container">
        <div class="row">
            <div class="col-xs-12 title">
                <h1><%= pageTitle %></h1>
            </div><!-- /.col -->
        </div><!-- /.row -->
        <div class="row">
            <div class="col-xs-12">
                <form>
                    <table class="table table-striped"  style="text-align:center;">
                        <thead>
                            <tr>
                                <th scope="col">Date</th>
                                <th scope="col">Time</th>
                                <th scope="col">Dur<br>(est)</th>
                                <th scope="col">Assigned To</th>
                                <th scope="col">Product</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td id="mixDate"></td>
                                <td id="mixTime"></td>
                                <td></td>
                                <td id="mixMixer"></td>
                                <td id="mixRecipe"></td>
                            </tr>
                        </tbody>
                    </table>
                    <button class="btn" type="submit">Submit</button>
                    <button class="btn" type="button"><a href="/schedule-add">Edit</a></button>
                    </form>
            </div><!-- /.col -->
        </div><!-- /.row -->

    </div><!-- /.container -->
    <% include partials/template/scripts.ejs %>
    <script>
        const reviewMixData = function() {
            console.log('reviewMixData function starting.');

            if(sessionStorage.address !== undefined) {
                document.getElementById("mixRecipe").value = sessionStorage.mixRecipe;
            }
            
            if(sessionStorage.address !== undefined) {
                document.getElementById("mixMixer").value = sessionStorage.mixMixer;
            }

            if(sessionStorage.address !== undefined) {
                document.getElementById("mixDate").value = sessionStorage.mixDate;
            }

            if(sessionStorage.address !== undefined) {
                document.getElementById("mixTime").value = sessionStorage.mixTime;
            }

            if(sessionStorage.address !== undefined) {
                document.getElementById("mixNotes").value = sessionStorage.mixNotes;
            }
        };
        $(document).ready(function() {
            reviewMixData();
        });
    </script>
</body>

</html>